<%- include('partials/header'); -%>

<form action="/auth/signup" method="GET">
  <h2>Sign up</h2>
  <label for="name">Name</label>
  <input type="text" name="name" required />
  <br />
  <label for="surname">Surname</label>
  <input type="text" name="surname" required />
  <br />
  <label for="email">Email</label>
  <input type="email" name="email" required />
  <br />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Sign up</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector("form");
  const emailError = document.querySelector(".email.error");
  const passwordError = document.querySelector(".password.error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const emailError = document.querySelector(".email.error");
    const passwordError = document.querySelector(".password.error");
    emailError.textContent = "";
    passwordError.textContent = "";
    // get values
    const email = form.email.value;
    const password = form.password.value;
    const name = form.name.value;
    const surname = form.surname.value;
    console.log("output of body :" + password, email);
    try {
      const response = await fetch("/auth/signup", {
        method: "POST",
        body: JSON.stringify({ email, password, name, surname }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await response.json();
      if (data.error) {
        emailError.textContent = data.error.message;
        passwordError.textContent = data.error.password;
      }
      // await axios("/auth/signup", {
      //   method: "POST",
      //   headers: { "Content-Type": "application/json" },
      // }).then((response) => {
      //   res
      //     .status(201)
      //     .json({
      //       email: email,
      //       password: password,
      //       name: name,
      //       surname: surname,
      //     });
      //   console.log(response);
      // });
      //----redirec, in React for example Router
      if (data.error) {
        location.assign("/home");
      }
    } catch (error) {
      console.log(error.message);
    }
  });
</script>
